@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face{
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-display: swap;
}
@font-face{
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}
@font-face{
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-display: swap;
}

body{
	font-family: 'Source Serif Pro', serif;
}
.paragraph{
	font-family: 'CircularStd', serif;
	font-size: 20px;
	font-style: italic;
	text-align: justify;
	line-height: 1.2;
	letter-spacing: 1px;
}
.text{
	font-size: 28px;
	line-height: 1.5;
}
.list{
	font-size: 24px;
	font-style: italic;
	color: rgba(241, 19, 19, 0.8);
	text-shadow: 10px 10px 30px black;
	text-indent: 30px;
}
.title{
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	text-decoration: underline;
	text-shadow: 10px 10px 30px black;
	text-transform: uppercase;
}


.main{
	font-family: 'Lato', sans-serif;
}
.title2{
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	align-items: center;
	color: #1E212C;
}
.text2{
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
}
.paragraph2{
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.list2{
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}